*{
  margin: 0%;
  padding: 0%;
}

.WeatherApp{
   height: 100vh;
   width: 100%;
}
.weatherImg{
  height: 100vh;
  width: 100%;
  filter: blur(2px);
  background-size: cover;
  background-repeat: no-repeat;
  
}
.InfoContent{
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem;
  backdrop-filter: blur(10px);
  background: transparent;
  text-align: center;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, -5);
  padding-top: 2rem;
}

.searchCity{
  height: 60px;
  width: 500px;
  border: none;
  padding-left: 2rem;
  outline: none;
  font-size: 20px;
}

.logo{
  height: 100px;
  width: 200px;
 background-blend-mode: hard-light;
}

.mainContent{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.Info{
  row-gap: 2rem;
  margin-top: 2rem;
}

.errorMsg{
  margin-top: 5rem;
  font-size: 25px;
}


.min-maxTemp{
  margin-top: 2rem;
  font-size: 20px;
}

.temp{
  height: 100px;
  width: 100px;
  padding: 1rem;
  font-size: 20px;
  background: transparent;
  text-align: center;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, -5);
  border: 1px solid #000000;
}

.fontfamily{
  font-family: 'Times New Roman', Times, serif;
}

.logo{
  height: 150px;
  width: 150px;
}

.streetViewIcon{
  animation: move 3s linear infinite;
}


@keyframes move {
  0% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(15px);
  }
}



@media (max-width: 480px) {
  .searchCity{
    height: 60px;
    width: 100%;
    border: none;
    padding-left: 2rem;
    outline: none;
    font-size: 20px;
    border-radius: 2px;
  }  

  .InfoContent{
    height: 50vh;
    width: min-content;
    position: absolute;
    top: 50%;
    left: 40%;
    display: flex;
    justify-content: center;
    padding-left: 10rem;
    transform: translate(-55%,-50%);
  }

  .mainContent{
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-35%,-50%);
  }

  .logo{
    height: 80px;
    width: 80px;
  }
   
}


@media (max-width: 768px) {
  .searchCity{
    height: 60px;
    width: 100%;
    border: none;
    padding-left: 2rem;
    outline: none;
    font-size: 20px;
  }  

  .InfoContent{
    height: 50vh;
    width: 500px;
  }

  .Info{
    row-gap: 2rem;
    margin-top: 2rem;
    font-size: 25px;
  }

}

@media (min-width: 760px) and (max-width: 1200px) {
  .searchCity{
    height: 60px;
    width: 100%;
    border: none;
    padding-left: 2rem;
    outline: none;
    font-size: 20px;
  }  

  .InfoContent{
    height: 50vh;
    width: 500px;
  }

  .Info{
    row-gap: 2rem;
    margin-top: 2rem;
    font-size: 27opx;
  }

}